@media all and (max-width: 1180px) {
    #wrap {
        #header {
            .wrap {
                width:80%;
                .header-gap {
                    .header-wrap {
                        .logo {
                            .logo-gap {
                                .logo-wrap {
                                    a {
                                        img {
                                            height:80px;
                                        }
                                    }
                                }
                            }
                        }
                        .title {
                            .title-gap {
                                .title-wrap {
                                    p {
                                        font-size:20px;
                                        line-height:80px;
                                        font-weight:600;
                                        text-align:center;
                                        margin:0;
                                    }
                                }
                            }
                        }
                        .cart {
                            .cart-gap {
                                .cart-wrap {
                                    a {
                                        i {
                                            font-size:45px;
                                            line-height:80px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        #main {
            width:100vw;
            .wrap {
                a {
                    margin-top:-40px;
                    margin-left:-90px;

                    width:180px;
                    height:80px;
                    line-height:74px;
                    background:#ec6757;
                    color:#fff;
                    font-size:21px;
                    font-weight:600;
                    border-radius:10px;
                    border:3px solid #ec6757;
                    transition:all .3s;
                    &:hover {
                        border:3px solid #fff;
                    }
                }
            }
        }
        #footer {
                .wrap {
                    width:80%;
                    .footer-gap {
                        .footer-wrap {
                            img {
                                &.pcfooter {
                                    display:block;
                                }
                                &.mbfooter {
                                    display:none;
                                }        
                            }
                        }
                    }
                }        
        }
        #selectTheme {
            .wrap {
                width:80%;
                .price-btn {
                    width:100%;
                    .price-btn-gap {
                        padding:70px 0 0 0;
                        display:flex;
                        .price-btn-wrap {
                            margin:0 0 0 auto;
                            ul {
                                display:flex;
                                li {
                                    padding:0 10px;
                                    button {
                                        width:120px;
                                        height:40px;
                                        font-size:15px;
                                        font-weight:600;
                                        &:hover {
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                // start theme
                .theme {
                    width:100%;
                    .theme-gap {
                        padding:0 0;
                        .theme-wrap {
                            width:100%;
                            ul {
                                li {
                                    padding:20px;
                                    .in-theme-gap {
                                        padding:10px;
                                        .selectedTheme{
                                            border:4px solid #ef4c39 !important;
                                        }
                                        .in-theme-wrap {
                                            width:100%;
                                            padding:15px;
                                            border:2px solid #ffd0d0;
                                            border-radius:5px;
                                            cursor:pointer;
                                            &:hover {
                                                border:2px solid #ec6757;
                                            }
                                            &.on {
                                                border:2px solid #ec6757;
                                            }
                                            .img-wrap {
                                                padding:20px;
                                                img {
                                                    width:100%;
                                                }
                                            }
                                            .text-wrap {
                                                padding:0 0 15px 0;
                                                p {
                                                    width: auto;
                                                    padding:5px;
                                                    text-align:center;
                                                    font-size:16px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                } // end theme
                .next-btn {
                    width:100%;
                    .next-btn-gap {
                        padding:0 0 140px 0;
                        .next-btn-wrap {
                            width:100%;
                            a {
                                text-decoration: none;
                                
                                display:flex;
                                width:240px;
                                height:80px;
                                margin:0 auto;
                                background:#ffd0d0;
                                color:#fff;
                                border:3px solid #ffd0d0;
                                border-radius:5px;
    
                                font-size:30px;
                                font-weight:600;
                                line-height:74px;
                                justify-content:center;
    
                                &:hover {
                                    border:3px solid #ec6757;
                                }
                            }
                        }
                    }
                }    
            }
        }
        #selectkids {
            background:#f9f4f4;
            width:100vw;
            .wrap {
                width:80%;
                margin:0 auto;
                height:100%;
    
                .step1 {
                    .step1-gap {
                        padding:50px 0;
                        .step1-wrap {
                            p {
                                margin:0;
                                font-size:23px;
                                font-weight:600;
                            }
                        }
                    }
                }
    
                // start kidsinfo
                .kids {
                    .kids-gap {
                        .kids-wrap {
                            width:100%;
                            ul {
                                li {
                                    width:33.333%;
                                    padding:10px;
                                    .in-kids-gap {
                                        width:100%;
                                        padding:20px;
                                        .in-kids-wrap {
                                            width:100%;
                                            padding:10px;
                                            cursor:pointer;
                                            &:hover {
                                                background:#ffd0d0;
                                                border:3px solid #e3abab;
                                            }
                                            &.on {
                                                background:#ffd0d0;
                                                border:3px solid #e3abab;
                                            }
                                            .img-wrap {
                                                padding:15px;
                                                img {
                                                    width:100%;
                                                }
                                            }
                                            .text-wrap {
                                                padding:5px 0 20px 0;
                                                p {
                                                    padding:5px;
                                                    text-align:center;
                                                    font-size:16px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                } // end kidsinfo
                .next-btn {
                    .next-btn-gap {
                        padding:40px 0 90px 0;
                        .next-btn-wrap {
                            a {
                                width:180px;
                                height:60px;
    
                                font-size:25px;
                                font-weight:600;
                                line-height:54px;
                                &:hover {
                                    border:3px solid #e3abab;
                                    background: #ffd0d0;
                                }
                            }
                        }
                    }
                }    
            }
        }
        #option-note {
            background:#f9f4f4;
            width:100vw;
        .wrap {
            width:80%;
            margin:0 auto;
            .step2 {
                .step2-gap {
                    padding:50px 0;
                    .step2-wrap {
                        p {
                            margin:0;
                            font-size:23px;
                            font-weight:600;
                        }
                    }
                }
            }
            .content {
                width:100%;
                .content-gap {
                    padding:20px 0 60px 0;
                    .content-wrap {
                        width:100%;
                        display:flex;
                        .example {
                            width:60%;
                            // background:khaki;
                            .example-gap {
                                .example-wrap {
                                    height:700px;
                                    .top {
                                        .top-gap {
                                            .top-wrap {
                                                .setdate {
                                                    height:90px;
                                                    p {
                                                        &.month {
                                                            font-size:25px;
                                                            line-height:23px;
                                                        }
                                                        &.date {
                                                            font-size:25px;
                                                            line-height:23px;
                                                        }
                                                        &.day {
                                                            font-size:13px;
                                                            line-height:30px;
                                                        }
                                                    }
                                                }
                                                .qrcode {
                                                    margin:0 0 0 auto;
                                                    display:flex;
                                                    .photo-qr {
                                                        width:90px;
                                                        height:90px;
                                                    }
                                                    .video-qr {
                                                        width:90px;
                                                        height:90px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .middle {
                                        width:100%;
                                        height:45%;
                                        .middle-gap {
                                            padding:20px;
                                            height:100%;
                                            .middle-wrap {
                                                width:100%;
                                                height:100%;
                                                .photo-section {
                                                    border:2px solid #ef4c39;
                                                    height:100%;
                                                }
                                            }
                                        }
                                    }
                                    .bottom {
                                        width:100%;
                                        height:40%;
                                        .bottom-gap {
                                            width:100%;
                                            height:100%;
                                            padding:0 20px 20px 20px;
                                            .bottom-wrap {
                                                width:100%;
                                                height:100%;
                                                padding:0;
                                                margin:0;
                                                li {
                                                    width:100%;
                                                    height:100%;
                                                    padding:2px 0;
                                                    .li-wrap {
                                                        width:100%;
                                                        height:100%;
                                                        border:2px dashed #e3abab;
                                                    }
                                                    &.status {
                                                        height:20%;
                                                    }
                                                    &.notice {
                                                        height:45%;
                                                    }
                                                    &.comment {
                                                        height:35%;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .option {
                            width:360px;
                            .option-gap {
                                padding:30px 0 10px 0;
                                .option-wrap {
                                    li {
                                        background:#e3abab;
                                        border:2px solid #e3abab;
                                        margin:0 0 30px 0;
                                        &.on {
                                            background:#ffd0d0;
                                            border:2px solid #e3abab;
                                        }
                                        input[type='checkbox'] {
                                            border:0;
                                            margin:0;
                                            width:100%;

                                            }
                                        input[type='checkbox']:checked {
                                            border:0;
                                            margin:0;
                                            appearance:none;
                                            width:100%;
                                        }
                                        .text {
                                            width:100%;
                                            font-size:17px;
                                        }
                                    }
                                }
                            }

                            // background:deepskyblue
                        }
                    }
                }
            }
            .next-btn {
                .next-btn-gap {
                    padding:40px 0 90px 0;
                    .next-btn-wrap {
                        a {
                            width:180px;
                            height:60px;

                            font-size:25px;
                            font-weight:600;
                            line-height:54px;
                            &:hover {
                                border:3px solid #e3abab;
                                background: #ffd0d0;
                            }
                        }
                    }
                }
            }
        }
        }
        #option-album {
            background:#f9f4f4;
            width:100vw;
        .wrap {
            width:80%;
            margin:0 auto;
            .step2 {
                .step2-gap {
                    padding:50px 0;
                    .step2-wrap {
                        p {
                            margin:0;
                            font-size:23px;
                            font-weight:600;
                        }
                    }
                }
            }
            .content {
                width:100%;
                .content-gap {
                    padding:20px 0 60px 0;
                    .content-wrap {
                        width:100%;
                        display:flex;
                        .example {
                            width:60%;
                            // background:khaki;
                            .example-gap {
                                .example-wrap {
                                    height:700px;
                                    .top {
                                        .top-gap {
                                            .top-wrap {
                                                .setdate {
                                                    height:90px;
                                                    p {
                                                        &.month {
                                                            font-size:25px;
                                                            line-height:23px;
                                                        }
                                                        &.date {
                                                            font-size:25px;
                                                            line-height:23px;
                                                        }
                                                        &.day {
                                                            font-size:13px;
                                                            line-height:30px;
                                                        }
                                                    }
                                                }
                                                .qrcode {
                                                    margin:0 0 0 auto;
                                                    display:flex;
                                                    .photo-qr {
                                                        width:90px;
                                                        height:90px;
                                                    }
                                                    .video-qr {
                                                        width:90px;
                                                        height:90px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .middle {
                                        width:100%;
                                        height:45%;
                                        .middle-gap {
                                            padding:20px;
                                            height:100%;
                                            .middle-wrap {
                                                width:100%;
                                                height:100%;
                                                .photo-section {
                                                    border:2px solid #ef4c39;
                                                    height:100%;
                                                }
                                            }
                                        }
                                    }
                                    .bottom {
                                        width:100%;
                                        height:40%;
                                        .bottom-gap {
                                            width:100%;
                                            height:100%;
                                            padding:0 20px 20px 20px;
                                            .bottom-wrap {
                                                width:100%;
                                                height:100%;
                                                padding:0;
                                                margin:0;
                                                li {
                                                    width:100%;
                                                    height:100%;
                                                    padding:2px 0;
                                                    .li-wrap {
                                                        width:100%;
                                                        height:100%;
                                                        border:2px dashed #e3abab;
                                                    }
                                                    &.notice {
                                                        height:55%;
                                                    }
                                                    &.comment {
                                                        height:45%;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .option {
                            width:360px;
                            .option-gap {
                                padding:30px 0 10px 0;
                                .option-wrap {
                                    li {
                                        background:#e3abab;
                                        border:2px solid #e3abab;
                                        margin:0 0 30px 0;
                                        &.on {
                                            background:#ffd0d0;
                                            border:2px solid #e3abab;
                                        }
                                        input[type='checkbox'] {
                                            border:0;
                                            margin:0;
                                            width:100%;

                                            }
                                        input[type='checkbox']:checked {
                                            border:0;
                                            margin:0;
                                            appearance:none;
                                            width:100%;
                                        }
                                        .text {
                                            width:100%;
                                            font-size:17px;
                                        }
                                    }
                                }
                            }

                            // background:deepskyblue
                        }
                    }
                }
            }
            .next-btn {
                .next-btn-gap {
                    padding:40px 0 90px 0;
                    .next-btn-wrap {
                        a {
                            width:180px;
                            height:60px;

                            font-size:25px;
                            font-weight:600;
                            line-height:54px;
                            &:hover {
                                border:3px solid #e3abab;
                                background: #ffd0d0;
                            }
                        }
                    }
                }
            }
        }
        }
        #makeCover{
            background:#f9f4f4;
            width:100vw;
            .wrap{
                width:60%;
                margin:0 auto;
                height:100%;
                .step5 {
                    width:100%;
                    .step5-gap {
                        padding:50px 0;
                        .step2-wrap {
                            width:100%;
                        }
                    }
                    p {
                        text-align:center;
                        font-size:25px;
                        font-weight:600;
                    }
                }
    
                .cover {
                    width: 100%;
                    .cover-gap{
                        width: 90%;
                        padding: 3%;
                        margin: 0 auto;
                        .cover-wrap{
                            width: 100%;
                            height: 750px;
                            border: 2px solid black;
                            margin: 0 auto;
                            padding: 10%;
                            .cover-img{
                                height: 60%;
                                border: 1px solid black;
                                position: relative;
                                overflow: hidden;
                                .img-box{
                                    width: 100%;
                                    .Camera{
                                        font-size: 100px;
                                        text-align: center;
                                        margin: 80px 0 0 0;
                                    }
                                    &:hover .Camera{
                                        color: #a8a8a8;
                                    }
                                    img{
                                        position: absolute;
                                        width: 100%;
                                    }
                                    .x{
                                        float: right;
                                        position:absolute;
                                        top: 1%;
                                        left: 94%;
                                        color: #fff;
                                    } 
                                    &:hover .x {
                                        color: black;
                                    }
                                }
                                input[type=file]{
                                    display: none;
                                }
                            }
                            .cover-title{
                                margin-top: 10%;
                                input[type=text]{
                                    width: 100%;
                                    height: 60px;
                                    font-size: 24px;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
    
                
                .next-btn {
                    width:100%;
                    .next-btn-gap {
                        padding:0 0 140px 0;
                        .next-btn-wrap {
                            width:100%;
                            a {
                                text-decoration: none;
    
                                display:flex;
                                width:240px;
                                height:80px;
                                margin:0 auto;
                                background:#e3abab;
                                color:#fff;
                                border:3px solid #e3abab;
                                border-radius:5px;
    
                                font-size:30px;
                                font-weight:600;
                                line-height:74px;
                                justify-content:center;
    
                                &:hover {
                                    border:3px solid #e3abab;
                                    background: #ffd0d0;
                                }
                            }
                        }
                    }
                }   
            }
        }
    }
}   
@media all and (max-width: 820px) {
    #wrap {
        #header {
            .wrap {
                width:90%;
                .header-gap {
                    .header-wrap {
                        .logo {
                            .logo-gap {
                                padding:0;
                                .logo-wrap {
                                    a {
                                        img {
                                            height:40px;
                                        }
                                    }
                                }
                            }
                        }
                        .title {
                            width:40%;
                            .title-gap {
                                .title-wrap {
                                    p {
                                        font-size:20px;
                                        line-height:40px;
                                        font-weight:600;
                                    }
                                }
                            }
                        }
                        .cart {
                            .cart-gap {
                                padding:0;
                                .cart-wrap {
                                    a {
                                        i {
                                            font-size:30px;
                                            line-height:40px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        #main {
            width:100vw;
            .wrap {
                a {
                    width:180px;
                    height:80px;
                    line-height:74px;
                    background:#ec6757;
                    color:#fff;
                    font-size:21px;
                    font-weight:600;
                    border-radius:10px;
                    border:3px solid #ec6757;
                    transition:all .3s;
                    &:hover {
                        border:3px solid #fff;
                    }
                }
            }
        }
        #footer {
                .wrap {
                    width:90%;
                    .footer-gap {
                        padding:0;
                        .footer-wrap {
                            img {
                                &.pcfooter {
                                    display:none;
                                }
                                &.mbfooter {
                                    display:block;
                                }        
                            }
                        }
                    }
                }        
        }
        #selectTheme {
            background:#f9f4f4;
            width:100vw;
            .wrap {
                width:90%;
                .price-btn {
                    width:100%;
                    .price-btn-gap {
                        padding:70px 0 20px 0;
                        display:flex;
                        .price-btn-wrap {
                            margin:0 auto;
                            ul {
                                padding:0;
                                margin:0;
                                display:flex;
                                li {
                                    padding:0 5px;
                                    button {
                                        width:90px;
                                        height:30px;
                                        font-size:14px;
                                        font-weight:600;
                                        &:hover {
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                // start theme
                .theme {
                    width:100%;
                    .theme-gap {
                        padding:0 0;
                        .theme-wrap {
                            width:100%;
                            ul {
                                li {
                                    width:100%;
                                    padding:10px;
                                    .in-theme-gap {
                                        padding:10px;
                                        .selectedTheme{
                                            border:4px solid #ef4c39 !important;
                                        }
                                        .in-theme-wrap {
                                            width:100%;
                                            padding:15px;
                                            border:2px solid #ffd0d0;
                                            border-radius:5px;
                                            display:flex;
                                            align-items:center;
                                            cursor:pointer;
                                            &:hover {
                                                border:2px solid #ec6757;
                                            }
                                            &.on {
                                                border:2px solid #ec6757;
                                            }
                                            .img-wrap {
                                                width:40%;
                                                padding:10px;
                                                img {
                                                    width:100%;
                                                }
                                            }
                                            .text-wrap {
                                                width:60%;
                                                padding:0 0 15px 0;
                                                p {
                                                    width: auto;
                                                    padding:5px;
                                                    text-align:center;
                                                    font-size:12px;
                                                    &.theme-name {
                                                        font-size:16px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                } // end theme
                .next-btn {
                    .next-btn-gap {
                        padding:40px 0 90px 0;
                        .next-btn-wrap {
                            a {
                                width:180px;
                                height:60px;
    
                                font-size:25px;
                                font-weight:600;
                                line-height:54px;
                                &:hover {
                                    border:3px solid #ec6757;
                                }
                            }
                        }
                    }
                }    
            }
        }
        #selectkids {
            background:#f9f4f4;
            width:100vw;
            .wrap {
                width:90%;
                margin:0 auto;
                height:100%;
    
                .step1 {
                    .step1-gap {
                        padding:30px 0;
                        .step1-wrap {
                            p {
                                margin:0;
                                font-size:21px;
                                font-weight:600;
                            }
                        }
                    }
                }
    
                // start kidsinfo
                .kids {
                    .kids-gap {
                        .kids-wrap {
                            width:100%;
                            ul {
                                li {
                                    width:50%;
                                    padding:5px;
                                    .in-kids-gap {
                                        width:100%;
                                        padding:5px;
                                        .in-kids-wrap {
                                            width:100%;
                                            padding:10px;
                                            cursor:pointer;
                                            &:hover {
                                                background:#ffd0d0;
                                                border:3px solid #e3abab;
                                            }
                                            &.on {
                                                background:#ffd0d0;
                                                border:3px solid #e3abab;
                                            }
                                            .img-wrap {
                                                padding:15px;
                                                img {
                                                    width:100%;
                                                }
                                            }
                                            .text-wrap {
                                                padding:5px 0 20px 0;
                                                p {
                                                    padding:5px;
                                                    text-align:center;
                                                    font-size:16px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                } // end kidsinfo
                .next-btn {
                    .next-btn-gap {
                        padding:40px 0 90px 0;
                        .next-btn-wrap {
                            a {
                                width:180px;
                                height:60px;
    
                                font-size:25px;
                                font-weight:600;
                                line-height:54px;
                                &:hover {
                                    border:3px solid #e3abab;
                                    background: #ffd0d0;
                                }
                            }
                        }
                    }
                }
            }
        }
        #selectDetail{
            background:#f9f4f4;
            width:100vw;
            .wrap {
                width:60%;
                margin:0 auto;
                height:100%;
    
                .step2 {
                    width:100%;
                }
    
                .step2-gap {
                    padding:50px 0
                    ;
                }
    
                .step2-wrap {
                    width:100%;
                   
                }
    
                .detail{
                    width:100%;
    
                    .img-wrap{
                        display: none;
        
                    }
        
                    .detailOption{
                        width: 100%;
        
                        .select-wrap{
                            width: 100%;
                            padding: 30px;
                        }
        
                        .accordion-button:not(.collapsed) {
                            color: white;
                            background-color: #e3abab;
                            box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
                        }
            
                        .accordion-button:not(.collapsed):after {
                            display:none;
                        }
                    
                        .accordion-button:after {
                            display: none;
                        }
            
            
                        .btn-outline-secondary {
                            --bs-btn-color: #ec6757;
                            --bs-btn-border-color: #e3abab;
                            --bs-btn-hover-color: #fff;
                            --bs-btn-hover-bg: #ec6757;
                            --bs-btn-hover-border-color: #ec6757;
                            --bs-btn-focus-shadow-rgb: 108,117,125;
                            --bs-btn-active-color: #fff;
                            --bs-btn-active-bg: #ec6757;
                            --bs-btn-active-border-color: #e3abab;
                            --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
                            --bs-btn-disabled-color: #6c757d;
                            --bs-btn-disabled-bg: transparent;
                            --bs-btn-disabled-border-color: #6c757d;
                            --bs-gradient: none;
                        }
            
            
                        .btn-outline-secondary{
                            width: 100%;
                            padding: 3%;
                            margin: 3% 0;
                            
                            
                        }
        
        
                    }
                }
    
    
                
    
                .next-btn {
                    width:100%;
                    .next-btn-gap {
                        padding:0 0 140px 0;
                        .next-btn-wrap {
                            width:100%;
                            
                            a {
                                text-decoration: none;
    
                                display:flex;
                                width:240px;
                                height:80px;
                                margin:0 auto;
                                background:#e3abab;
                                color:#fff;
                                border:3px solid #e3abab;
                                border-radius:5px;
    
                                font-size:30px;
                                font-weight:600;
                                line-height:74px;
                                justify-content:center;
    
                                &:hover {
                                    border:3px solid #e3abab;
                                    background: #ffd0d0;
                                }
                            }
                        }
                    }
                }   
            }    
        }
        #option-note {
            background:#f9f4f4;
            width:100vw;
            .wrap {
            width:90%;
            margin:0 auto;
            .step2 {
                .step2-gap {
                    padding:30px 0;
                    .step2-wrap {
                        p {
                            margin:0;
                            font-size:21px;
                            font-weight:600;
                        }
                    }
                }
            }
            .content {
                width:100%;
                .content-gap {
                    padding:0 0 30px 0;
                    .content-wrap {
                        width:100%;
                        display:flex;
                        .example {  
                            display:none;
                        }
                        .option {
                            width:100%;
                            .option-gap {
                                width:100%;
                                padding:30px 0 10px 0;
                                .option-wrap {
                                    width:100%;
                                    li {
                                        width:100%;
                                        margin:0 0 30px 0;
                                        background:#e3abab;
                                        border:2px solid #e3abab;
                                        &.on {
                                            background:#ffd0d0;
                                            border:2px solid #e3abab;
                                        }
                                        label {
                                            width:0;
                                            input[type='checkbox'] {
                                                appearance: none;
                                                width:100%;
                                            }
                                            input[type='checkbox']:checked {
                                                appearance:none;
                                                width:100%;
                                            }
                                            .text {
                                                width:100%;
                                                font-size:17px;
                                            }
                                        }
                                    }
                                }
                            }

                            // background:deepskyblue
                        }
                    }
                }
            }
            .next-btn {
                .next-btn-gap {
                    padding:40px 0 90px 0;
                    .next-btn-wrap {
                        a {
                            width:180px;
                            height:60px;

                            font-size:25px;
                            font-weight:600;
                            line-height:54px;
                            &:hover {
                                border:3px solid #e3abab;
                                background: #ffd0d0;
                            }
                        }
                    }
                }
            }
            }
        }
        #option-album {
            background:#f9f4f4;
            width:100vw;
            .wrap {
            width:90%;
            margin:0 auto;
            .step2 {
                .step2-gap {
                    padding:30px 0;
                    .step2-wrap {
                        p {
                            margin:0;
                            font-size:21px;
                            font-weight:600;
                        }
                    }
                }
            }
            .content {
                width:100%;
                .content-gap {
                    padding:0 0 30px 0;
                    .content-wrap {
                        width:100%;
                        display:flex;
                        .example {  
                            display:none;
                        }
                        .option {
                            width:100%;
                            .option-gap {
                                width:100%;
                                padding:30px 0 10px 0;
                                .option-wrap {
                                    width:100%;
                                    li {
                                        width:100%;
                                        margin:0 0 30px 0;
                                        background:#e3abab;
                                        border:2px solid #e3abab;
                                        &.on {
                                            background:#ffd0d0;
                                            border:2px solid #e3abab;
                                        }
                                        label {
                                            width:0;
                                            input[type='checkbox'] {
                                                appearance: none;
                                                width:100%;
                                            }
                                            input[type='checkbox']:checked {
                                                appearance:none;
                                                width:100%;
                                            }
                                            .text {
                                                width:100%;
                                                font-size:17px;
                                            }
                                        }
                                    }
                                }
                            }

                            // background:deepskyblue
                        }
                    }
                }
            }
            .next-btn {
                .next-btn-gap {
                    padding:40px 0 90px 0;
                    .next-btn-wrap {
                        a {
                            width:180px;
                            height:60px;

                            font-size:25px;
                            font-weight:600;
                            line-height:54px;
                            &:hover {
                                border:3px solid #e3abab;
                                background: #ffd0d0;
                            }
                        }
                    }
                }
            }
            }
        }

        #makeCover{
            background:#f9f4f4;
            width:100vw;
            .wrap{
                width:60%;
                margin:0 auto;
                height:100%;
                .step5 {
                    width:100%;
                    .step5-gap {
                        padding:50px 0;
                        .step2-wrap {
                            width:100%;
                        }
                    }
                    p {
                        text-align:center;
                        font-size:25px;
                        font-weight:600;
                    }
                }
    
                .cover {
                    width: 100%;
                    .cover-gap{
                        width: 100%;
                        padding: 3%;
                        margin: 0 auto;
                        .cover-wrap{
                            width: 100%;
                            height: 700px;
                            border: 2px solid black;
                            margin: 0 auto;
                            padding: 10%;
                            .cover-img{
                                height: 60%;
                                border: 1px solid black;
                                position: relative;
                                overflow: hidden;
                                .img-box{
                                    width: 100%;
                                    .Camera{
                                        font-size: 100px;
                                        text-align: center;
                                        margin: 80px 0 0 0;
                                    }
                                    &:hover .Camera{
                                        color: #a8a8a8;
                                    }
                                    img{
                                        position: absolute;
                                        width: 100%;
                                    }
                                    .x{
                                        float: right;
                                        position:absolute;
                                        top: 1%;
                                        left: 94%;
                                        color: #fff;
                                    } 
                                    &:hover .x {
                                        color: black;
                                    }
                                }
                                input[type=file]{
                                    display: none;
                                }
                            }
                            .cover-title{
                                margin-top: 10%;
                                input[type=text]{
                                    width: 100%;
                                    height: 60px;
                                    font-size: 23px;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
    
                
                .next-btn {
                    width:100%;
                    .next-btn-gap {
                        padding:0 0 140px 0;
                        .next-btn-wrap {
                            width:100%;
                            a {
                                text-decoration: none;
    
                                display:flex;
                                width:240px;
                                height:80px;
                                margin:0 auto;
                                background:#e3abab;
                                color:#fff;
                                border:3px solid #e3abab;
                                border-radius:5px;
    
                                font-size:30px;
                                font-weight:600;
                                line-height:74px;
                                justify-content:center;
    
                                &:hover {
                                    border:3px solid #e3abab;
                                    background: #ffd0d0;
                                }
                            }
                        }
                    }
                }   
            }
        }
    }
}