#wrap {
    #header {
        @media only screen and (max-width: 768px) {
            width: 100%;
            background-color: pink;
            .nav {
                font-size: 100px;
                margin: auto 0;
                margin : 0 auto;
                display : block;
                
            }
            .nav_brand {
                font-weight: bold;
                display: flex;
                align-items: center;
                margin-left: 10%;
                margin-right: 10%;
            }
            .logo{
                width:40px;
                display: flex;
                align-items: center;
            }
            .shopping{
                width: 40px;
                display: flex;
                align-items: center;
                font-size: 2rem;
            }
            img, svg{
                vertical-align: middle;
                display: flex;
            }
        
          }        
    }
    #main {

    }
    #footer {
        @media only screen and (max-width: 1600px) {
            p {
                color:black;
                font-size:10px;
                font-family: "Noto Sans";
                vertical-align: center;
                position: relative;
               // display: flex;
               // flex-direction: column;
               // height: 100vh;
            }
            .logo{
                width: 0px;
                margin-left: 5%;
                //border : 1px solid black;
            }
            .footer1{
                width: 360px;
                white-space: nowrap;
                float: left;
                margin-left: 50%;
                margin-right: 10%;
                transform: translate(-50%,-50%);
                flex: 1;
                margin-bottom: 7%;
                //border : 1px solid black;
            }
            .footer2{
                width: 360px;
                white-space: pre-wrap;
                float:left;
                margin-left: 50%;
                margin-right: 10%;
                transform: translate(-50%,-50%);
                //border : 1px solid black;
                flex: 1;
            }
            .name{
                font-size: 13px;
            }
            .phone{
                font-size: 17px;
            }
        }
    }
}

