@charset "utf-8";
@import url(./fonts.css);
@import url(./reset.css);


#wrap {
    width:100vw;
    #header {
        width:100%;
        .wrap {
            width:70%;
            margin:0 auto;
            .header-gap {
                width:100%;
                padding:20px 0;
                .header-wrap {
                    width:100%;
                    display:flex;
                    .logo {
                        width:15%;
                        margin:0 auto 0 0;
                        .logo-gap {
                            width:100%;
                            padding:0 55px;
                            .logo-wrap {
                                width:100%;
                                a {
                                    display:flex;
                                    width:100%;
                                    justify-content:center;
                                    img {
                                        height:120px;
                                    }
                                }
                            }
                        }
                    }
                    .title {
                        width:30%;
                        margin:0 auto;
                        .title-gap {
                            width:100%;
                            .title-wrap {
                                width:100%;
                                p {
                                    font-size:30px;
                                    line-height:120px;
                                    font-weight:600;
                                    text-align:center;
                                    margin:0;
                                    padding:0;
                                }
                            }
                        }
                    }
                    .cart {
                        width:15%;
                        margin:0 0 0 auto;
                        .cart-gap {
                            width:100%;
                            padding:0 55px;
                            .cart-wrap {
                                width:100%;
                                display:flex;
                                justify-content:center;
                                a {
                                    color:#000;
                                    i {
                                        font-size:55px;
                                        line-height:120px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #main {
        width:100vw;
        .wrap {
            width:100%;
            height:80vh;
            background:url(../img/photosmainsample.jpg) no-repeat 50% 50% fixed;
            background-size:cover;
            
            position:relative;
            a {
                position:absolute;
                top:50%;
                left:50%;
                margin-top:-60px;
                margin-left:-125px;

                display:flex;
                text-decoration: none;
                justify-content:center;
                width:250px;
                height:120px;
                line-height:114px;
                background:#ec6757;
                color:#fff;
                font-size:25px;
                font-weight:600;
                border-radius:10px;
                border:3px solid #ec6757;
                transition:all .3s;
                &:hover {
                    border:3px solid #fff;
                }
            }
        }
    }
    #footer {
        width:100vw;
        .wrap {
            width:70%;
            margin:0 auto;
            .footer-gap {
                padding:50px 0;
                .footer-wrap {
                    width:100%;
                    img {
                        width:100%;
                        &.pcfooter {
                            display:block;
                        }
                        &.mbfooter {
                            display:none;
                        }
                    }
                }
            }
        }
    }
// start select Theme
    #selectTheme {
        background:#f9f4f4;
        width:100vw;
        .wrap {
            width:70%;
            margin:0 auto;
            height:100%;
            .price-btn {
                width:100%;
                .price-btn-gap {
                    padding:70px 0 0 0;
                    display:flex;
                    .price-btn-wrap {
                        margin:0 0 0 auto;
                        ul {
                            padding:0;
                            margin:0;
                            display:flex;
                            li {
                                padding:0 10px;
                                button {
                                    width:150px;
                                    height:50px;
                                    background:#ffd0d0;
                                    border-radius:5px;
                                    font-size:17px;
                                    font-weight:600;
                                    transition:all .2s;
                                    &:hover {
                                        background:#ec6757;
                                        color:#fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            // start theme
            .theme {
                width:100%;
                .theme-gap {
                    padding:0 0;
                    .theme-wrap {
                        width:100%;
                        ul {
                            margin:0;
                            padding:0;
                            width:100%;
                            display:flex;
                            flex-flow:wrap;
                            li {
                                width:33.333%;
                                padding:20px;
                                .in-theme-gap {
                                    width:100%;
                                    padding:50px;
                                    .selectedTheme{
                                        border:4px solid #ef4c39 !important;
                                    }
                                    .in-theme-wrap {
                                        width:100%;
                                        padding:30px;
                                        border:2px solid #ffd0d0;
                                        border-radius:5px;
                                        cursor:pointer;
                                        &:hover {
                                            border:2px solid #ec6757;
                                        }
                                        &.on {
                                            border:2px solid #ec6757;
                                        }
                                        .img-wrap {
                                            padding:30px;
                                            img {
                                                width:100%;
                                            }
                                        }
                                        .text-wrap {
                                            padding:20px 0;
                                            p {
                                                width: auto;
                                                margin:0;
                                                padding:5px;
                                                text-align:center;
                                                font-size:16px;
                                                &.theme-name {
                                                    font-size:20px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            } // end theme
            .next-btn {
                width:100%;
                .next-btn-gap {
                    padding:0 0 140px 0;
                    .next-btn-wrap {
                        width:100%;
                        a {
                            text-decoration: none;
                            
                            display:flex;
                            width:240px;
                            height:80px;
                            margin:0 auto;
                            background:#ffd0d0;
                            color:#fff;
                            border:3px solid #ffd0d0;
                            border-radius:5px;

                            font-size:30px;
                            font-weight:600;
                            line-height:74px;
                            justify-content:center;

                            &:hover {
                                border:3px solid #ec6757;
                            }
                        }
                    }
                }
            }    
        }
    }
// end select Theme

    #selectkids {
        background:#f9f4f4;
        width:100vw;
        .wrap {
            width:70%;
            margin:0 auto;
            height:100%;

            .step1 {
                width:100%;
                .step1-gap {
                    padding:50px 0;
                    .step1-wrap {
                        width:100%;
                        p {
                            margin:0;
                            padding:0;
                            text-align:center;
                            font-size:25px;
                            font-weight:600;
                        }
                    }
                }
            }

            // start kidsinfo
            .kids {
                width:100%;
                .kids-gap {
                    padding:0 0;
                    .kids-wrap {
                        width:100%;
                        ul {
                            margin:0;
                            padding:0;
                            width:100%;
                            display:flex;
                            flex-flow:wrap;
                            li {
                                width:33.333%;
                                padding:20px;
                                .in-kids-gap {
                                    width:100%;
                                    padding:50px;
                                    .in-kids-wrap {
                                        width:100%;
                                        padding:30px;
                                        background:#e3abab;
                                        border:3px solid #e3abab;
                                        border-radius:5px;
                                        cursor:pointer;
                                        &:hover {
                                            background:#ffd0d0;
                                            border:3px solid #e3abab;
                                        }
                                        &.on {
                                            background:#ffd0d0;
                                            border:3px solid #e3abab;
                                        }
                                        .img-wrap {
                                            padding:30px;
                                            img {
                                                width:100%;
                                            }
                                        }
                                        .text-wrap {
                                            padding:0 0 20px 0;
                                            p {
                                                margin:0;
                                                padding:5px;
                                                text-align:center;
                                                font-size:16px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            } // end kidsinfo
            .next-btn {
                width:100%;
                .next-btn-gap {
                    padding:0 0 140px 0;
                    .next-btn-wrap {
                        width:100%;
                        a {
                            text-decoration: none;

                            display:flex;
                            width:240px;
                            height:80px;
                            margin:0 auto;
                            background:#e3abab;
                            color:#fff;
                            border:3px solid #e3abab;
                            border-radius:5px;

                            font-size:30px;
                            font-weight:600;
                            line-height:74px;
                            justify-content:center;

                            &:hover {
                                border:3px solid #e3abab;
                                background: #ffd0d0;
                            }
                        }
                    }
                }
            }    
        }
    }



    #option-note {
            background:#f9f4f4;
            width:100vw;
        .wrap {
            width:60%;
            margin:0 auto;
            .step2 {
                width:100%;
                .step2-gap {
                    padding:50px 0;
                    .step2-wrap {
                        width:100%;
                        p {
                            margin:0;
                            padding:0;
                            text-align:center;
                            font-size:25px;
                            font-weight:600;
                        }
                    }
                }
            }
            .content {
                width:100%;
                .content-gap {
                    padding:50px 0 130px 0;
                    .content-wrap {
                        width:100%;
                        display:flex;
                        .example {
                            width:60%;
                            // background:khaki;
                            .example-gap {
                                width:100%;
                                padding:30px;
                                .example-wrap {
                                    width:100%;
                                    height:800px;
                                    border:2px solid #000;
                                    .top {
                                        width:100%;
                                        height:15%;
                                        .top-gap {
                                            padding:10px 20px;
                                            .top-wrap {
                                                width:100%;
                                                display:flex;
                                                .setdate {
                                                    width:120px;
                                                    height:100px;
                                                    padding:10px;
                                                    border:2px dashed #e3abab;
                                                    border-radius:10px;
                                                    p {
                                                        margin:0;
                                                        padding:0;
                                                        font-weight:600;
                                                        &.month {
                                                            font-size:27px;
                                                            line-height:24px;
                                                        }
                                                        &.date {
                                                            font-size:27px;
                                                            line-height:24px;
                                                        }
                                                        &.day {
                                                            font-size:15px;
                                                            line-height:35px;
                                                        }
                                                    }
                                                }
                                                .qrcode {
                                                    margin:0 0 0 auto;
                                                    display:flex;
                                                    .photo-qr {
                                                        width:100px;
                                                        height:100px;
                                                        background:#000;
                                                        color:#fff;
                                                    }
                                                    .video-qr {
                                                        width:100px;
                                                        height:100px;
                                                        background:#000;
                                                        margin-left:10px;
                                                        color:#fff;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .middle {
                                        width:100%;
                                        height:45%;
                                        .middle-gap {
                                            padding:20px;
                                            height:100%;
                                            .middle-wrap {
                                                width:100%;
                                                height:100%;
                                                .photo-section {
                                                    border:2px solid #ef4c39;
                                                    height:100%;
                                                }
                                            }
                                        }
                                    }
                                    .bottom {
                                        width:100%;
                                        height:40%;
                                        .bottom-gap {
                                            width:100%;
                                            height:100%;
                                            padding:0 20px 20px 20px;
                                            .bottom-wrap {
                                                width:100%;
                                                height:100%;
                                                padding:0;
                                                margin:0;
                                                li {
                                                    width:100%;
                                                    height:100%;
                                                    padding:2px 0;
                                                    .li-wrap {
                                                        width:100%;
                                                        height:100%;
                                                        border:2px dashed #e3abab;
                                                    }
                                                    &.status {
                                                        height:20%;
                                                    }
                                                    &.notice {
                                                        height:45%;
                                                    }
                                                    &.comment {
                                                        height:35%;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .option {
                            width:560px;
                            .option-gap {
                                width:100%;
                                padding:30px;
                                .option-wrap {
                                    width:100%;
                                    margin:0;
                                    padding:0;
                                    li {
                                        position:relative;
                                        width:100%;
                                        margin:0 0 30px 0;
                                        input[type='checkbox'] {
                                            appearance:none;
                                            width:500px;
                                            height:80px;
                                            background:#e3abab;
                                            border:2px solid #e3abab;
                                            }
                                        input[type='checkbox']:checked {
                                            appearance:none;
                                            width:500px;
                                            height:80px;
                                            background:#ffd0d0;
                                            border:2px solid #e3abab;
                                        }
                                        .text {
                                            position:absolute;
                                            top:0;
                                            left:0;
                                            width:100%;
                                            height:80px;
                                            display:flex;
                                            font-size:20px;
                                            cursor:pointer;
                                            p {
                                                margin:0 auto;
                                                padding:0;
                                                line-height:80px;
                                                cursor:pointer;
                                            }
                                        }
                                    }
                                }
                            }

                            // background:deepskyblue
                        }
                    }
                }
            }
            .next-btn {
                width:100%;
                .next-btn-gap {
                    padding:0 0 140px 0;
                    .next-btn-wrap {
                        width:100%;
                        a {
                            text-decoration: none;

                            display:flex;
                            width:240px;
                            height:80px;
                            margin:0 auto;
                            background:#e3abab;
                            color:#fff;
                            border:3px solid #e3abab;
                            border-radius:5px;

                            font-size:30px;
                            font-weight:600;
                            line-height:74px;
                            justify-content:center;

                            &:hover {
                                border:3px solid #e3abab;
                                background: #ffd0d0;
                            }
                        }
                    }
                }
            }
        }
    }
    #option-album {
        background:#f9f4f4;
        width:100vw;
        .wrap {
        width:60%;
        margin:0 auto;
        .step2 {
            width:100%;
            .step2-gap {
                padding:50px 0;
                .step2-wrap {
                    width:100%;
                    p {
                        margin:0;
                        padding:0;
                        text-align:center;
                        font-size:25px;
                        font-weight:600;
                    }
                }
            }
        }
        .content {
            width:100%;
            .content-gap {
                padding:50px 0 130px 0;
                .content-wrap {
                    width:100%;
                    display:flex;
                    .example {
                        width:60%;
                        // background:khaki;
                        .example-gap {
                            width:100%;
                            padding:30px;
                            .example-wrap {
                                width:100%;
                                height:800px;
                                border:2px solid #000;
                                .top {
                                    width:100%;
                                    height:15%;
                                    .top-gap {
                                        padding:10px 20px;
                                        .top-wrap {
                                            width:100%;
                                            display:flex;
                                            .setdate {
                                                width:120px;
                                                height:100px;
                                                padding:10px;
                                                border:2px dashed #e3abab;
                                                border-radius:10px;
                                                p {
                                                    margin:0;
                                                    padding:0;
                                                    font-weight:600;
                                                    &.month {
                                                        font-size:27px;
                                                        line-height:24px;
                                                    }
                                                    &.date {
                                                        font-size:27px;
                                                        line-height:24px;
                                                    }
                                                    &.day {
                                                        font-size:15px;
                                                        line-height:35px;
                                                    }
                                                }
                                            }
                                            .qrcode {
                                                margin:0 0 0 auto;
                                                display:flex;
                                                .photo-qr {
                                                    width:100px;
                                                    height:100px;
                                                    background:#000;
                                                    color:#fff;
                                                }
                                                .video-qr {
                                                    width:100px;
                                                    height:100px;
                                                    background:#000;
                                                    margin-left:10px;
                                                    color:#fff;
                                                }
                                            }
                                        }
                                    }
                                }
                                .middle {
                                    width:100%;
                                    height:45%;
                                    .middle-gap {
                                        padding:20px;
                                        height:100%;
                                        .middle-wrap {
                                            width:100%;
                                            height:100%;
                                            .photo-section {
                                                border:2px solid #ef4c39;
                                                height:100%;
                                            }
                                        }
                                    }
                                }
                                .bottom {
                                    width:100%;
                                    height:40%;
                                    .bottom-gap {
                                        width:100%;
                                        height:100%;
                                        padding:0 20px 20px 20px;
                                        .bottom-wrap {
                                            width:100%;
                                            height:100%;
                                            padding:0;
                                            margin:0;
                                            li {
                                                width:100%;
                                                height:100%;
                                                padding:2px 0;
                                                .li-wrap {
                                                    width:100%;
                                                    height:100%;
                                                    border:2px dashed #e3abab;
                                                }
                                                &.notice {
                                                    height:55%;
                                                }
                                                &.comment {
                                                    height:45%;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .option {
                        width:560px;
                        .option-gap {
                            width:100%;
                            padding:30px;
                            .option-wrap {
                                width:100%;
                                margin:0;
                                padding:0;
                                li {
                                    position:relative;
                                    width:100%;
                                    margin:0 0 30px 0;
                                    input[type='checkbox'] {
                                        appearance:none;
                                        width:500px;
                                        height:80px;
                                        background:#e3abab;
                                        border:2px solid #e3abab;
                                    }
                                    input[type='checkbox']:checked {
                                        appearance:none;
                                        width:500px;
                                        height:80px;
                                        background:#ffd0d0;
                                        border:2px solid #e3abab;
                                    }
                                    .text {
                                        position:absolute;
                                        top:0;
                                        left:0;
                                        width:100%;
                                        height:80px;
                                        display:flex;
                                        font-size:20px;
                                        p {
                                            padding:0;
                                            margin:0 auto;
                                            line-height:80px;
                                        }
                                    }
                                }
                            }
                        }

                        // background:deepskyblue
                    }
                }
            }
        }
        .next-btn {
            width:100%;
            .next-btn-gap {
                padding:0 0 140px 0;
                .next-btn-wrap {
                    width:100%;
                    a {
                        text-decoration: none;

                        display:flex;
                        width:240px;
                        height:80px;
                        margin:0 auto;
                        background:#e3abab;
                        color:#fff;
                        border:3px solid #e3abab;
                        border-radius:5px;

                        font-size:30px;
                        font-weight:600;
                        line-height:74px;
                        justify-content:center;

                        &:hover {
                            border:3px solid #e3abab;
                            background: #ffd0d0;
                        }
                    }
                }
            }
        }
        }
    }
    #date-note {
        .wrap {
            width:70%;
            margin:0 auto;
            .step3 {
                width:100%;
                .step3-gap {
                    padding:50px 0;
                    .step3-wrap {
                        width:100%;
                        p {
                            margin:0;
                            padding:0;
                            text-align:center;
                            font-size:25px;
                            font-weight:600;
                        }
                    }
                }
            }
            .year {
                width:100%;
                .year-gap {
                    width:100%;
                    padding:20px 0 30px 0;
                    .year-wrap {
                        display:flex;
                        justify-content:center;
                        .year-box {
                            padding:15px;
                            background:#e3abab;
                            border-radius:5px;
                            font-size:30px;
                        }
                        .add {
                            display:flex;
                            align-items:center;
                            i {
                                font-size:48px;
                                margin:0 20px;
                                cursor:pointer;
                            }
                        }
                        .sub {
                            display:flex;
                            align-items:center;
                            i {
                                font-size:48px;
                                margin:0 20px;
                                cursor:pointer;
                            }
                        }
                    }
                }
            }
            .select-or-not {
                width:100%;
                .select-or-not-gap {
                    padding:10px 20px;
                    .select-or-not-wrap {
                        margin:0;
                        padding:0;
                        display:flex;
                        justify-content:right;
                        li {
                            padding:0 10px;
                            &.on {
                                background:#ffd0d0;
                                border:2px solid #e3abab;
                            }
                            label {
                                display:flex;
                                justify-content:center;
                                align-items:center;
                                position:relative;
                                input[type='checkbox']{
                                    appearance:none;
                                    width:100px;
                                    height:40px;
                                    background:#e3abab;
                                }
                                .text {
                                    position:absolute;
                                    p {
                                        margin:0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .month {
                width:100%;
                .month-gap {
                    padding:30px 0 60px 0;
                    .month-wrap {
                        width:100%;
                        display:flex;
                        flex-flow:wrap;
                        margin:0;
                        padding:0;
                        li {
                            width:20%;
                            padding:20px;
                            .box {
                                background:#e3abab;
                                border-radius:10px;
                                .box-gap {
                                    padding:10px;
                                    .box-wrap {
                                        width:100%;
                                        .top {
                                            display:flex;
                                            align-items: center;
                                            .check-month {
                                                font-size:24px;
                                                padding:5px 0 5px 10px;
                                            }
                                            input[type='checkbox'] {
                                                margin:0 10px 0 auto;
                                                width:24px;
                                                height:24px;
                                            }
                                        }
                                        .middle {
                                            width:100%;
                                            .middle-gap {
                                                padding:30px;
                                                .middle-wrap {
                                                    width:100%;
                                                    img {
                                                        width:100%;
                                                        border-radius:116px;
                                                    }
                                                }
                                            }
                                        }
                                        .modal-open {
                                            width:100%;
                                            .modal-open-gap {
                                                padding:0 0 10px 0;
                                                .modal-open-wrap {
                                                    text-align:center;
                                                    cursor:pointer;
                                                }
                                            }
                                        }
                                        .bottom {
                                            width:100%;
                                            .bottom-gap {
                                                padding:10px;
                                                .bottom-wrap {
                                                    width:100%;
                                                    .check-note {
                                                        text-align:center;
                                                        font-size:18px;
                                                    }
                                                    .check-photo {
                                                        text-align:center;
                                                        font-size:18px;
                                                    }        
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .next-btn {
                width:100%;
                .next-btn-gap {
                    padding:0 0 140px 0;
                    .next-btn-wrap {
                        width:100%;
                        a {
                            text-decoration: none;
    
                            display:flex;
                            width:240px;
                            height:80px;
                            margin:0 auto;
                            background:#e3abab;
                            color:#fff;
                            border:3px solid #e3abab;
                            border-radius:5px;
    
                            font-size:30px;
                            font-weight:600;
                            line-height:74px;
                            justify-content:center;
    
                            &:hover {
                                border:3px solid #e3abab;
                                background: #ffd0d0;
                            }
                        }
                    }
                }
            }    
        }
    }
}
