@charset "utf-8";
@import url(./fonts.css);
@import url(./reset.css);


#wrap {
    width:100vw;

    #header {
        width:100vw;
            // position: fixed;
            // top: 0; left: 0;
            // height: 100px;
            // width: 100%;
            // text-align : center;
        .nav {
            font-size: 15px;
            margin: auto 0;
            margin : 0 auto;
            display : block;
            
        }
        .nav_brand {
            font-weight: bold;
            display: flex;
            align-items: center;
            margin-left: 10%;
            margin-right: 10%;
        }
        .logo{
            width:40px;
            display: flex;
            align-items: center;
        }
        .shopping{
            width: 40px;
            display: flex;
            align-items: center;
            font-size: 2rem;
        }
        img, svg{
            vertical-align: middle;
            display: flex;
        }        
    }
    #main {
        .wrap {
            width:100vw;
            height:80vh;
            background:url(../img/photosmainsample.jpg) no-repeat 50% 50% fixed;
            background-size:cover;
            
            position:relative;
            a {
                position:absolute;
                top:50%;
                left:50%;
                margin-top:-60px;
                margin-left:-125px;

                display:flex;
                text-decoration: none;
                justify-content:center;
                width:250px;
                height:120px;
                line-height:114px;
                background:#ec6757;
                color:#fff;
                font-size:25px;
                font-weight:600;
                border-radius:10px;
                border:3px solid #ec6757;
                transition:all .3s;
                &:hover {
                    border:3px solid #fff;
                }
            }
        }
    }

    #footer {
        width:100vw;
        padding:100px 0;
        p {
            color:black;
            font-size:14px;
            font-family: "Noto Sans";
            vertical-align: center;
            position: relative;
           // display: flex;
           // flex-direction: column;
           // height: 100vh;
        }
        .logo{
            float: left;
            margin-left: 5%;
            margin-right: 5%;
            transform: translate(-50%,-50%);
        }
        .footer1{
            width: 500px;
            white-space: pre-wrap;
            float: left;
            margin-left: 10%;
            margin-right: 3%;
            transform: translate(-50%,-50%);
            flex: 1;
        }
        .footer2{
            width: 500px;
            white-space: pre-wrap;
            float:right;
            margin-left: 3%;
            margin-right: 5%;
                transform: translate(-50%,-50%);
            flex: 1;
        }
        .name{
            font-size: 16px;
        }
        .phone{
            font-size: 20px;
        }
    }
// start select Theme
    #selectTheme {
        background:#f9f4f4;
        width:100vw;
        .wrap {
            width:60%;
            margin:0 auto;
            height:100%;
            .price-btn {
                width:100%;
                .price-btn-gap {
                    padding:70px 0 0 0;
                    display:flex;
                    .price-btn-wrap {
                        margin:0 0 0 auto;
                        ul {
                            display:flex;
                            li {
                                padding:0 10px;
                                button {
                                    width:150px;
                                    height:50px;
                                    background:#ffd0d0;
                                    border-radius:5px;
                                    font-size:17px;
                                    font-weight:600;
                                    transition:all .2s;
                                    &:hover {
                                        background:#ec6757;
                                        color:#fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            // start theme
            .theme {
                width:100%;
                .theme-gap {
                    padding:0 0;
                    .theme-wrap {
                        width:100%;
                        ul {
                            width:100%;
                            display:flex;
                            flex-flow:wrap;
                            li {
                                width:33.333%;
                                padding:20px;
                                .in-theme-gap {
                                    width:100%;
                                    padding:50px;
                                    .selectedTheme{
                                        border:4px solid #ef4c39 !important;
                                    }
                                    .in-theme-wrap {
                                        width:100%;
                                        padding:30px;
                                        border:2px solid #ffd0d0;
                                        border-radius:5px;
                                        cursor:pointer;
                                        &:hover {
                                            border:2px solid #ec6757;
                                        }
                                        &.on {
                                            border:2px solid #ec6757;
                                        }
                                        .img-wrap {
                                            padding:30px;
                                            img {
                                                width:100%;
                                            }
                                        }
                                        .text-wrap {
                                            padding:0 0 20px 0;
                                            p {
                                                width: auto;
                                                padding:5px;
                                                text-align:center;
                                                font-size:16px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            } // end theme
            .next-btn {
                width:100%;
                .next-btn-gap {
                    padding:0 0 140px 0;
                    .next-btn-wrap {
                        width:100%;
                        a {
                            text-decoration: none;
                            
                            display:flex;
                            width:240px;
                            height:80px;
                            margin:0 auto;
                            background:#ffd0d0;
                            color:#fff;
                            border:3px solid #ffd0d0;
                            border-radius:5px;

                            font-size:30px;
                            font-weight:600;
                            line-height:74px;
                            justify-content:center;

                            &:hover {
                                border:3px solid #ec6757;
                            }
                        }
                    }
                }
            }    
        }
    }
    // end select Theme

    #selectkids {
        background:#f9f4f4;
        width:100vw;
        .wrap {
            width:60%;
            margin:0 auto;
            height:100%;

            .step1 {
                width:100%;
                .step1-gap {
                    padding:50px 0;
                    .step1-wrap {
                        width:100%;
                        p {
                            text-align:center;
                            font-size:25px;
                            font-weight:600;
                        }
                    }
                }
            }

            // start kidsinfo
            .kids {
                width:100%;
                .kids-gap {
                    padding:0 0;
                    .kids-wrap {
                        width:100%;
                        ul {
                            width:100%;
                            display:flex;
                            flex-flow:wrap;
                            li {
                                width:33.333%;
                                padding:20px;
                                .in-kids-gap {
                                    width:100%;
                                    padding:50px;
                                    .in-kids-wrap {
                                        width:100%;
                                        padding:30px;
                                        background:#e3abab;
                                        border:3px solid #e3abab;
                                        border-radius:5px;
                                        cursor:pointer;
                                        &:hover {
                                            background:#ffd0d0;
                                            border:3px solid #e3abab;
                                        }
                                        &.on {
                                            background:#ffd0d0;
                                            border:3px solid #e3abab;
                                        }
                                        .img-wrap {
                                            padding:30px;
                                            img {
                                                width:100%;
                                            }
                                        }
                                        .text-wrap {
                                            padding:0 0 20px 0;
                                            p {
                                                padding:5px;
                                                text-align:center;
                                                font-size:16px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            } // end kidsinfo
            .next-btn {
                width:100%;
                .next-btn-gap {
                    padding:0 0 140px 0;
                    .next-btn-wrap {
                        width:100%;
                        a {
                            text-decoration: none;

                            display:flex;
                            width:240px;
                            height:80px;
                            margin:0 auto;
                            background:#e3abab;
                            color:#fff;
                            border:3px solid #e3abab;
                            border-radius:5px;

                            font-size:30px;
                            font-weight:600;
                            line-height:74px;
                            justify-content:center;

                            &:hover {
                                border:3px solid #e3abab;
                                background: #ffd0d0;
                            }
                        }
                    }
                }
            }    
        }
    }



    #option-note {
            background:#f9f4f4;
            width:100vw;
        .wrap {
            width:60%;
            margin:0 auto;
            .step2 {
                width:100%;
                .step2-gap {
                    padding:50px 0;
                    .step2-wrap {
                        width:100%;
                        p {
                            text-align:center;
                            font-size:25px;
                            font-weight:600;
                        }
                    }
                }
            }
            .content {
                width:100%;
                .content-gap {
                    padding:50px 0 130px 0;
                    .content-wrap {
                        width:100%;
                        display:flex;
                        .example {
                            width:60%;
                            // background:khaki;
                            .example-gap {
                                width:100%;
                                padding:30px;
                                .example-wrap {
                                    width:100%;
                                    height:800px;
                                    border:2px solid #000;
                                    .top {
                                        width:100%;
                                        height:15%;
                                        .top-gap {
                                            padding:10px 20px;
                                            .top-wrap {
                                                width:100%;
                                                display:flex;
                                                .setdate {
                                                    width:120px;
                                                    height:100px;
                                                    padding:10px;
                                                    border:2px dashed #e3abab;
                                                    border-radius:10px;
                                                    p {
                                                        margin:0;
                                                        font-weight:600;
                                                        &.month {
                                                            font-size:27px;
                                                            line-height:24px;
                                                        }
                                                        &.date {
                                                            font-size:27px;
                                                            line-height:24px;
                                                        }
                                                        &.day {
                                                            font-size:15px;
                                                            line-height:35px;
                                                        }
                                                    }
                                                }
                                                .qrcode {
                                                    margin:0 0 0 auto;
                                                    display:flex;
                                                    .photo-qr {
                                                        width:100px;
                                                        height:100px;
                                                        background:#000;
                                                        color:#fff;
                                                    }
                                                    .video-qr {
                                                        width:100px;
                                                        height:100px;
                                                        background:#000;
                                                        margin-left:10px;
                                                        color:#fff;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .middle {
                                        width:100%;
                                        height:45%;
                                        .middle-gap {
                                            padding:20px;
                                            height:100%;
                                            .middle-wrap {
                                                width:100%;
                                                height:100%;
                                                .photo-section {
                                                    border:2px dashed #ef4c39;
                                                    height:100%;
                                                }
                                            }
                                        }
                                    }
                                    .bottom {
                                        width:100%;
                                        height:40%;
                                        .bottom-gap {
                                            width:100%;
                                            height:100%;
                                            padding:0 20px 20px 20px;
                                            .bottom-wrap {
                                                width:100%;
                                                height:100%;
                                                padding:0;
                                                margin:0;
                                                li {
                                                    width:100%;
                                                    height:100%;
                                                    padding:2px 0;
                                                    .li-wrap {
                                                        width:100%;
                                                        height:100%;
                                                        border:2px dashed #e3abab;
                                                    }
                                                    &.status {
                                                        height:20%;
                                                    }
                                                    &.notice {
                                                        height:45%;
                                                    }
                                                    &.comment {
                                                        height:35%;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .option {
                            width:560px;
                            .option-gap {
                                width:100%;
                                padding:30px;
                                .option-wrap {
                                    width:100%;
                                    margin:0;
                                    padding:0;
                                    li {
                                        position:relative;
                                        width:100%;
                                        margin:0 0 30px 0;
                                        input[type='checkbox'] {
                                            appearance:none;
                                            width:500px;
                                            height:80px;
                                            background:#e3abab;
                                        }
                                        input[type='checkbox']:checked {
                                            appearance:none;
                                            width:500px;
                                            height:80px;
                                            background:#ec6757;
                                        }
                                        .text {
                                            position:absolute;
                                            top:0;
                                            left:0;
                                            width:100%;
                                            height:80px;
                                            display:flex;
                                            font-size:20px;
                                            p {
                                                margin:0 auto;
                                                line-height:80px;
                                            }
                                        }
                                    }
                                }
                            }

                            // background:deepskyblue
                        }
                    }
                }
            }
            .next-btn {
                width:100%;
                .next-btn-gap {
                    padding:0 0 140px 0;
                    .next-btn-wrap {
                        width:100%;
                        a {
                            text-decoration: none;

                            display:flex;
                            width:240px;
                            height:80px;
                            margin:0 auto;
                            background:#e3abab;
                            color:#fff;
                            border:3px solid #e3abab;
                            border-radius:5px;

                            font-size:30px;
                            font-weight:600;
                            line-height:74px;
                            justify-content:center;

                            &:hover {
                                border:3px solid #e3abab;
                                background: #ffd0d0;
                            }
                        }
                    }
                }
            }
        }
    }
}
