@import url(./fonts.css);
@import url(./reset.css);
#wrap {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
#wrap #header p {
  color: firebrick;
}
#wrap #header .nav {
  font-size: 15px;
  margin: auto 0;
  margin: 0 auto;
  display: block;
}
#wrap #header .nav_brand {
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}
#wrap #header .logo {
  width: 40px;
  display: flex;
  align-items: center;
}
#wrap #header .shopping {
  width: 40px;
  display: flex;
  align-items: center;
  font-size: 2rem;
}
#wrap #header img, #wrap #header svg {
  vertical-align: middle;
  display: flex;
}
@media only screen and (max-width: 768px) {
  #wrap #header {
    width: 100%;
    background-color: pink;
  }
  #wrap #header .nav {
    font-size: 100px;
    margin: auto 0;
    margin: 0 auto;
    display: block;
  }
  #wrap #header .nav_brand {
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
  }
  #wrap #header .logo {
    width: 40px;
    display: flex;
    align-items: center;
  }
  #wrap #header .shopping {
    width: 40px;
    display: flex;
    align-items: center;
    font-size: 2rem;
  }
  #wrap #header img, #wrap #header svg {
    vertical-align: middle;
    display: flex;
  }
}
#wrap #main .wrap {
  width: 100vw;
  height: 100vh;
  background: #ffd0d0;
  position: relative;
}
#wrap #main .wrap a {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -125px;
  display: flex;
  justify-content: center;
  width: 250px;
  height: 120px;
  line-height: 114px;
  background: #ec6757;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  border-radius: 10px;
  border: 3px solid #ec6757;
  transition: all 0.3s;
}
#wrap #main .wrap a:hover {
  border: 3px solid #fff;
}
#wrap #main p {
  color: cornflowerblue;
}
#wrap #main body {
  background-image: url("../img/photosmainsample.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  height: 80vh;
}
#wrap #main button {
  width: 200px;
  height: 40px;
  display: block;
  margin: auto;
  margin-top: 32vh;
}
#wrap #main .btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: pink;
  --bs-btn-border-color: pink;
  --bs-btn-hover-color: rgb(210, 121, 136);
  --bs-btn-hover-bg: rgb(255, 255, 255);
  --bs-btn-hover-border-color: rgb(210, 121, 136);
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}
#wrap #selectTheme {
  background: #f9f4f4;
  width: 100vw;
}
#wrap #selectTheme .wrap {
  width: 60%;
  margin: 0 auto;
  height: 100%;
}
#wrap #selectTheme .wrap .price-btn {
  width: 100%;
}
#wrap #selectTheme .wrap .price-btn .price-btn-gap {
  padding: 70px 0 0 0;
  display: flex;
}
#wrap #selectTheme .wrap .price-btn .price-btn-gap .price-btn-wrap {
  margin: 0 0 0 auto;
}
#wrap #selectTheme .wrap .price-btn .price-btn-gap .price-btn-wrap ul {
  display: flex;
}
#wrap #selectTheme .wrap .price-btn .price-btn-gap .price-btn-wrap ul li {
  padding: 0 10px;
}
#wrap #selectTheme .wrap .price-btn .price-btn-gap .price-btn-wrap ul li button {
  width: 150px;
  height: 50px;
  background: #ffd0d0;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 600;
  transition: all 0.2s;
}
#wrap #selectTheme .wrap .price-btn .price-btn-gap .price-btn-wrap ul li button:hover {
  background: #ec6757;
  color: #fff;
}
#wrap #selectTheme .wrap .theme {
  width: 100%;
}
#wrap #selectTheme .wrap .theme .theme-gap {
  padding: 100px 0;
}
#wrap #selectTheme .wrap .theme .theme-gap .theme-wrap {
  width: 100%;
}
#wrap #selectTheme .wrap .theme .theme-gap .theme-wrap ul {
  width: 100%;
  display: flex;
  flex-flow: wrap;
}
#wrap #selectTheme .wrap .theme .theme-gap .theme-wrap ul li {
  width: 33.333%;
  padding: 20px;
}
#wrap #selectTheme .wrap .theme .theme-gap .theme-wrap ul li .in-theme-gap {
  width: 100%;
  padding: 50px;
}
#wrap #selectTheme .wrap .theme .theme-gap .theme-wrap ul li .in-theme-gap .in-theme-wrap {
  width: 100%;
  padding: 30px;
  border: 2px solid #ffd0d0;
  border-radius: 5px;
  cursor: pointer;
}
#wrap #selectTheme .wrap .theme .theme-gap .theme-wrap ul li .in-theme-gap .in-theme-wrap:hover {
  border: 2px solid #ec6757;
}
#wrap #selectTheme .wrap .theme .theme-gap .theme-wrap ul li .in-theme-gap .in-theme-wrap.on {
  border: 2px solid #ec6757;
}
#wrap #selectTheme .wrap .theme .theme-gap .theme-wrap ul li .in-theme-gap .in-theme-wrap .img-wrap {
  padding: 30px;
}
#wrap #selectTheme .wrap .theme .theme-gap .theme-wrap ul li .in-theme-gap .in-theme-wrap .img-wrap img {
  width: 100%;
}
#wrap #selectTheme .wrap .theme .theme-gap .theme-wrap ul li .in-theme-gap .in-theme-wrap .text-wrap {
  padding: 0 0 20px 0;
}
#wrap #selectTheme .wrap .theme .theme-gap .theme-wrap ul li .in-theme-gap .in-theme-wrap .text-wrap p {
  padding: 5px;
  text-align: center;
  font-size: 16px;
}
#wrap #selectTheme .wrap .next-btn {
  width: 100%;
}
#wrap #selectTheme .wrap .next-btn .next-btn-gap {
  padding: 0 0 140px 0;
}
#wrap #selectTheme .wrap .next-btn .next-btn-gap .next-btn-wrap {
  width: 100%;
}
#wrap #selectTheme .wrap .next-btn .next-btn-gap .next-btn-wrap a {
  display: flex;
  width: 240px;
  height: 80px;
  margin: 0 auto;
  background: #ffd0d0;
  color: #fff;
  border: 3px solid #ffd0d0;
  border-radius: 5px;
  font-size: 30px;
  font-weight: 600;
  line-height: 74px;
  justify-content: center;
}
#wrap #selectTheme .wrap .next-btn .next-btn-gap .next-btn-wrap a:hover {
  border: 3px solid #ec6757;
}
#wrap #selectKids {
  width: 100vw;
  height: 100vh;
  background: lavenderblush;
}
#wrap #selectDetail {
  width: 100vw;
  height: 100vh;
  background: lavenderblush;
}
#wrap #selectDetail .sampleimg {
  width: 500px;
}
#wrap #selectDetail .accordion-item {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  padding-right: 2rem;
  border: 0px solid rgba(225, 228, 230, 0.5);
  border-top-width: 1px;
  transition: padding-top 0.5s, padding-bottom 0.5s, height 0.5s, transform 0.5s;
}
#wrap #footer {
  padding: 100px 0;
}
#wrap #footer p {
  color: black;
  font-size: 14px;
  font-family: "Noto Sans";
  vertical-align: center;
  position: relative;
}
#wrap #footer .logo {
  float: left;
  margin-left: 5%;
  margin-right: 5%;
  transform: translate(-50%, -50%);
}
#wrap #footer .footer1 {
  width: 500px;
  white-space: pre-wrap;
  float: left;
  margin-left: 10%;
  margin-right: 3%;
  transform: translate(-50%, -50%);
  flex: 1;
}
#wrap #footer .footer2 {
  width: 500px;
  white-space: pre-wrap;
  float: right;
  margin-left: 3%;
  margin-right: 5%;
  transform: translate(-50%, -50%);
  flex: 1;
}
#wrap #footer .name {
  font-size: 16px;
}
#wrap #footer .phone {
  font-size: 20px;
}
@media only screen and (max-width: 1600px) {
  #wrap #footer p {
    color: black;
    font-size: 10px;
    font-family: "Noto Sans";
    vertical-align: center;
    position: relative;
  }
  #wrap #footer .logo {
    width: 0px;
    margin-left: 5%;
  }
  #wrap #footer .footer1 {
    width: 360px;
    white-space: nowrap;
    float: left;
    margin-left: 50%;
    margin-right: 10%;
    transform: translate(-50%, -50%);
    flex: 1;
    margin-bottom: 7%;
  }
  #wrap #footer .footer2 {
    width: 360px;
    white-space: pre-wrap;
    float: left;
    margin-left: 50%;
    margin-right: 10%;
    transform: translate(-50%, -50%);
    flex: 1;
  }
  #wrap #footer .name {
    font-size: 13px;
  }
  #wrap #footer .phone {
    font-size: 17px;
  }
}